{% extends "base.html" %}
{% load i18n %}
{% block content %}
        <hr>
        <div class="col-md-6 col-md-offset-3 text-center">
            <p style="font-size:100px">{% trans "Sorry" %} :(</p>
            <p style="font-size:30px"><u>{% trans "Page not found." %}</u></p>
            <hr>
            <p><i><a href="{% url 'post:homepage' %}" class="text-primary"><u>{% trans "Click here" %}</u></a>{% trans " to back to homepage or you can watch this page as long as you want." %}</i></p>
        </div>
{% endblock %}
