{% extends "base.html" %}
{% load i18n static %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h3 class=""><b>{{ object.title }}</b></h3>
        <hr>
        <div>
	        <p>{% trans "To download category rules " %}<a href="{{ object.document.url }}" download><b>{% trans "click here." %}</b></a></p>
	        <iframe src="http://docs.google.com/gview?url={{ request.get_host }}/{{ object.document.url }}&embedded=true" style="width:100%; height:500px;" frameborder="0"></iframe>
        </div>
        {% for model in object.category3dmodel_set.all %}
        <h3>{{ model.title }}</h3>
        <div class="sketchfab-embed-wrapper"><iframe width="100%" height="480" src="https://sketchfab.com/models/{{model.model_number}}/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                <a href="https://sketchfab.com/models/{{ model.model_number }}?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">{{ model.name }}</a>
                by <a href="https://sketchfab.com/otokon?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">OTOKON</a>
                on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4 text-center">
        <h3 class="text-left"><b>{% trans "Category Media" %}</b></h3>
        <hr>
        {% if object.gallery.photo_set.all.count > 0 %}
            {% if object.gallery.photo_set.all.0.img_upload %}
            <p><img width="100%" src="{{ object.gallery.photo_set.all.0.img_upload.url }}"></p>
            {% else %}
            <p><img width="100%" src="{{ object.gallery.photo_set.all.0.img_select.img_upload.url }}"></p>
            {% endif %}
        {% else %}
            <p> <img width="100%" src="{% static "img/ituro_bee.png"%}"></p>
        {% endif %} 

        <p><button class="btn btn-primary btn-sm"><a href="{% url "gallery:gallery_detail" object.gallery.slug %}" style="color: white">{% trans "Category Gallery" %}</a></button></p>
        <hr>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="100%" src="{{ object.url }}" frameborder="0" allowfullscreen="" height="100"></iframe>
        </div>
    </div>
</div>
<div class="container text-center col-md-12">
        <hr>
        {% include "robot_counts.html" %}
</div>
{% endblock %}
