{% extends "base.html" %}
{% load static i18n compress static%}
{% block content %}

  <h3 class="text-center"><b>{% trans "Gallery" %} | {{ object.title }}</b></h3>
  <hr>
  <div id="gallery" style="margin:0px auto; display:none;">
    {% for photo in object.photo_set.all %}
      {% if photo.img_upload %}
      <img alt="{{photo.title}}"
           src="{{photo.thumbnail.url}}"
           data-image="{{photo.img_upload.url}}"
           data-description="{{photo.title}}">
      </img>
      {% elif photo.img_select %}
      <img alt="{{photo.img_select.title}}"
           src="{{photo.img_select.thumbnail.url}}"
           data-image="{{photo.img_select.img_upload.url}}"
           data-description="{{photo.img_select.title}}">
      </img>
      {% endif %}
    {% endfor %}
  </div>
  <div class="text-center" style="float: center;">
    {% compress js %}
    <script type='text/javascript' src='{% static "unitegallery/js/unitegallery.min.js" %}'></script>
    <script type='text/javascript' src='{% static "unitegallery/themes/compact/ug-theme-compact.js" %}'></script>
      <script type="text/javascript">
      jQuery(document).ready(function(){
          jQuery("#gallery").unitegallery({
              gallery_theme: "compact",
              gallery_carousel:false,
              slider_loader_type: 7,
              slider_enable_arrows: true,
              slider_enable_play_button: false,
              slider_enable_zoom_panel: false,
              slider_videoplay_button_type: "round",
              strippanel_enable_handle: false,
              thumb_selected_border_width: 3,
              thumb_selected_border_color: "#566472",
              thumb_transition_easing: "linear",
          });
      });
      </script>
      {% endcompress %}
  </div>
{% endblock %}
