{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<h3 class="text-center"><b>{% trans "Gallery" %}| {{ object.title }}</b></h3>
<hr>
<div id="links" class="links row">
  {% for photo in object.photo_set.all %}
    <div class="col-md-3" style="margin-bottom: 10px; height: 100"><a href="{{ photo.img.url }}" title="{{ photo.title }}">
        <img src="{{ photo.thumbnail.url }}" alt="{{ photo.title }}" class="img-responsive">
    </a></div>
  {% endfor %}
</div>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
<ol class="indicator"></ol>
</div>
<script src="{% static "js/blueimp-gallery.min.js" %}"></script>
<script>
    document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
    link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
    };
</script>

{% endblock %}
