{% extends "base.html" %}
{% load i18n robot_count check_ios static %}
{% block content %}
<div class="row">
  <div class="col-md-8">
      <h3 class=""><b>{% trans "News and Announcements" %}</b></h3>
      <hr>
      <ul class="media-list">
          <div id="messages"></div>
      </ul>
      <ul class="pager" style="">
          <li>
              <a id="news_down" href="#"><i class="fa fa-arrow-circle-left" style="font-size: 15px;"></i>&nbsp;&nbsp;{% trans "Previous Messages" %}</a>
          </li>
          <li>
              <a id="news_up" href="#">{% trans "Next Messages" %}&nbsp;&nbsp;<i class="fa fa-arrow-circle-right fa-sm" style="font-size: 15px;"></i></a>
          </li>
      </ul>
      <script type="text/javascript">
        jQuery(document).ready(function(){
          jQuery.print = function(bottom,top){
            var titles = [];
            var slugs = [];
            var types = [];
            var urls = [];
            var short_descriptions = [];
            {% for news in news_list reversed %}
            titles.push('{{news.title}}');
            slugs.push('{{news.slug}}');
            types.push('{{news.types}}');
            urls.push('{{news.img.thumbnail.url}}');
            short_descriptions.push('{{news.short_description}}');
            {% endfor %}
            for(i=bottom;i<=top;i++){
              if (titles[i] !== undefined && slugs[i] !==undefined && types[i] !== undefined && urls[i] !== undefined && short_descriptions[i] !== undefined){
                  first_link = "<li class='media'><a class='pull-left' href='{% url 'post:news_detail' slug='0' %}'>".replace(0,slugs[i]);
                  image = "<img class='media-object' src='0' style='margin-top: 5px' width='80'></a>".replace(0,urls[i]);
                  if (types[i] == "danger"){
                    type = "<span class='label label-danger' style='float: right;'>{% trans 'Hot!!' %}</span>";
                  }
                  else if (types[i] == "primary"){
                    type = "<span class='label label-primary' style='float: right;'>{% trans 'Important' %}</span>";
                  }
                  else if (types[i] == "info"){
                    type = "<span class='label label-info' style='float: right;'>{% trans 'Information' %}</span>";
                  }
                second_link = "&nbsp;<a href='{% url 'post:news_detail' slug='0' %}'>".replace(0,slugs[i]);
                media_body = "<div class='media-body'><h4 class='media-heading'><b><a href='{% url 'post:news_detail' slug='0' %}'>".replace(0, slugs[i]).concat(titles[i]).concat(type,"</a></b></h4>").concat(second_link, short_descriptions[i],"</a>");
                message = first_link.concat(image,media_body,"</div></li><hr>");
                jQuery("#messages").append(message);
              }
            }
          }
          jQuery.check_buttons = function(bottom, top, length){
            if(bottom<=0){
              jQuery("#news_down").hide();

            }
            else{
              jQuery("#news_down").show();

            }
            if(length > top+1){
              jQuery("#news_up").show();

            }
            else{
              jQuery("#news_up").hide();

            }
          }
          var length = {{news_list|length}}
          var bottom = 0;
          var top = 3;

          jQuery.check_buttons(bottom,top,length);
          jQuery.print(bottom,top);
          jQuery("#news_up").click(function(){
            bottom = bottom +4;
            top = top + 4;
            jQuery("#messages").empty();
            jQuery.check_buttons(bottom,top,length);
            jQuery.print(bottom,top);
          });
          jQuery("#news_down").click(function(){
            bottom = bottom-4;
            top = top-4;
            jQuery("#messages").empty();
            jQuery.check_buttons(bottom,top,length);
            jQuery.print(bottom,top);
          });
        });
      </script>
  </div>
  <link href="{% static "css/timer.css" %}" rel="stylesheet">
  <div class="col-md-4">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <h3><b>{% trans "Istanbul Technical University Robot Olympics" %}</b></h3>
          </div>
          <div class="panel-footer" align="center">
              <table id="countdownContainer" style="text-align: center; border-collapse: separate; border-spacing: 10px;">
                  <tr>
                      <th id="days" class="countdown"> 0 <br>{% trans "d" %}</th>
                      <th id="hours" class="countdown"> 0 <br>{% trans "h" %}</th>
                      <th id="minutes" class="countdown"> 0 <br>{% trans "m" %}</th>
                      <th id="seconds" class="countdown"> 0 <br>{% trans "s" %}</th>
                  </tr>
              </table>
          </div>
          <div class="panel-body">
              <h4><b>{% trans "Date" %}:</b> 11 - 12 - 13 {% trans "April" %} 2019</h4>
          </div>
          <div class="panel-footer"><h4><b>{%trans "Place" %}: </b><a class="text-primary" href="https://www.google.com.tr/maps/place/S%C3%BCleyman+Demirel+K%C3%BClt%C3%BCr+Merkezi/@41.106636,29.022403,15z/data=!4m2!3m1!1s0x0:0x6445dfa6db7ef717" target="_blank">{% trans "ITU Süleyman Demirel Culture Center" %}</a></h4></div>
      </div>
      <hr>
      <h4 class="text-center"><b>{% trans "Trailer" %}</b></h4>

      <div class="embed-responsive embed-responsive-16by9">
          <iframe src="{{homepage.url}}"></iframe>
      </div>
  </div>
</div>
<!--
<div class="container text-center col-md-12" style="margin-top:5%">
        {% check_ios request as check %}
        {% if not check %}
        <h4><strong>{% trans 'ITURO on Social Media'%}</strong></h4>
        <div id="publing" data-key="4k0ey07voj8m" data-height-type='adaptive' data-environment="stage" data-secret="lNpmYgsDB6" style="width:100%;height:100%;margin-top:4%;"></div>
        <script async src="https://front.publing.co/display/v1.js"></script>
        {% endif %}
</div>
<div class="container text-center col-md-12" style="margin-top:5%">
    {% include "robot_counts.html" %}
</div>-->
    <script>
        function countdown(){
          var now = new Date();
          var eventDate = new Date('{{countdown_time}}');
          var currentTime = now.getTime();
          var eventTime = eventDate.getTime();
          var remTime = eventTime - currentTime;

          if(remTime <= 0){
            document.getElementById('countdownContainer').style.display = 'none';
            return;
          }
          var s = Math.floor(remTime / 1000);
          var m = Math.floor(s / 60);
          var h = Math.floor(m / 60);
          var d = Math.floor(h / 24);
          h %= 24;
          m %= 60;
          s %= 60;

          h = (h < 10) ? "0" + h : h;
          m = (m < 10) ? "0" + m : m;
          s = (s < 10) ? "0" + s : s;

          document.getElementById("days").textContent = d + "\r\n" + "{% trans 'd' %}";
          document.getElementById("hours").textContent = h + "\r\n" + "{% trans 'h' %}";
          document.getElementById("minutes").textContent = m + "\r\n" + "{% trans 'm' %}";
          document.getElementById("seconds").textContent = s + "\r\n" + "{% trans 's' %}";

          setTimeout(countdown, 1000);
        }

        countdown();
    </script>
{% endblock %}

